

/*styling for map table*/
.state-table {
  width: 600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
ul.state-table li {
  margin: 2px;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
}

ul.state-table li:hover {
  cursor: pointer;
  opacity: .6;
}

.key-item {
  margin-left: 10px;
  margin-right: 10px;
}

.dem {
  color: blue;
}

.rep {
  color: red;
}

.both {
  color: purple;
}

.other {
  color: gray;
}

.contested {
  box-shadow: 0px 0px 10px green;
  color: white;
}

.image {
  height:100px;
  width:auto;
  border-radius:100px;
  margin-left: auto;
  margin-right: auto;
}

.state-contested {
  margin-top: 10px;
}

/*overriding map css*/

.stately {
  font-size: 700px;
  width: 700px;
}

#plain {
  background: none;
}
