<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">

        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script src="js/jquery.min.js"></script>
        <!--jquery necessary for modal to work-->

        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>



        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="stately-master/assets/css/screen.css?v=1.0">
        <link rel="stylesheet" href="stately-master/assets/css/stately.css?v=1.0">

    </head>

    <body ng-app="myApp">
        <div class="container" ng-controller="BaseController as base">
        <div class="map-test">
          <ul class="stately" id="plain">

          <!--map that only shows wyoming right now-->
        		<li ng-repeat="state in base.states"
                ng-style="{'color': base.getStateColor(state.state)}"
                ng-class="[base.getClass(state.state)]"
                ng-click="base.infoBox(state.state)">
              <span>{{state.letter}}</span>
            </li>
          </ul>
        </div>
        <div class="row text-center">
        <h1>2016 Senate Race</h1>
        </div>


        <div class="row">
          <div class="col-sm-1 hidden-xs"></div>
          <div class="col-sm-10 col-xs-12">
            <!--grid that works!-->
            <ul class="state-table">
                  <li ng-repeat="state in base.states"
                  ng-style="{'background-color': base.getStateColor(state.state)}"
                  ng-click="base.infoBox(state.state)" />{{ state.state }}</li>
            </ul>
          </div>
          <div class="col-sm-1 hidden-xs"></div>
        </div>
        <div class="clicked-state" id="stateInfo">
        <div id="image"></div>
        <div id="bio"></div>
        </div>
        <div class="test-state" style="width: 275px; border: 1px solid #000; height: 300px; padding: 10px;">
          <h1 class="text-center">Alabama</h1>
          <div class="image-container">
              <img src="images/senators/AK-Daniel-Sullivan.jpg" style="border-radius: 100px; float: left; width: 70px; height: auto"/>
                <div class="right" style="float: right">
                  <b>Name name</b><br>
                  <b>Retiring</b>
                  <br>Party: Democrat
                </div>
          </div>
          <b>Biography</b>: Blah
          <b>Platform Points</b>: Blah
        </div>

        <div class="col-xs-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>State</th>
                        <th ng-click="base.setSort('first')">Status<i class="fa fa-sort"></i></th>
                          <th ng-click="base.setSort('last')">Controlling party <i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('position')">Senators <i class="fa fa-sort"></i></th>
                        <th ng-click="base.setSort('games')">Challengers <i class="fa fa-sort"></i></th>
                        <!--th ng-click="base.setSort('shootingPercent')">Shooting Percentage <i class="fa fa-sort"></i></th-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="state in base.states | filter:terms | orderBy:base.sort:base.direction">
                        <td>{{ state.state }}</td>
                        <td>{{ state.contested }}</td>
                        <td>{{ state.controllingParty }}</td>
                        <td>
                          <div ng-style="{'background-color': base.getSenatorColor(state.senators[0])}" class="panel-group">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" href=#{{state.senators[0].lastName}}>{{ state.senators[0].firstName }}</a>
                                </h4>
                              </div>
                              <div id="{{state.senators[0].lastName}}" class="panel-collapse collapse">
                                <div class="panel-body">Panel Body</div>
                                <div class="panel-footer">Panel Footer</div>
                              </div>
                            </div>
                          </div>
                      </td>
                        <td>{{ player.games }}</td>
                        <!--td>{{ base.shootingPercentage('points', 'fieldGoalsAttempted', 'freeThrowsAttempted') }}</td-->
                      </tr>
                    </tbody>
                  </table>
                </div>


<!--        $( "p" ).last().addClass( "selected" );-->

        <!--
        <div class="display" ng-app="ngAnimate">
            <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
            <br/>
            <div>
              Show:
              <div class="check-element animate-show" ng-show="checked">
                <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
              </div>
            </div>
        </div>
        <div class="container">
          <h2>Modal Example</h2>-->
          <!-- Trigger the modal with a button
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">


              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

        </div>-->

    </body>
</html>
