<!DOCTYPE html>
<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script src="js/jquery.min.js"></script>
        <!--jquery necessary for modal to work-->

        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>



        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />

    </head>

    <body ng-app="myApp">
        <div class="container" ng-controller="BaseController as base">

            <!--div class="row">
                <div class="col-xs-12">
                    <p>{{ base.message }}</p>
                    <p>u workin?</p>
                </div>
            </div-->
        <div class="row text-center">
          <h1>2016 Senate Race</h1>
        </div>

        <div class="row">
          <div class="col-sm-1 hidden-xs"></div>
          <div ng-class="{'col-lg-7 col-md-7 col-xs-7':main.isBoxOpen, 'col-lg-12 col-md-12 col-xs-12':!main.isBoxOpen}">
            <ul class="state-table">
                  <li ng-repeat="state in base.states" ng-click="base.infoBox(state.state)" />{{ state.state }}</li>
            </ul>
          </div>
          <div class="col-sm-1 hidden-xs"></div>
        </div>
        <div class="clicked-state" id="stateInfo">
        <!-- function for matching correct state to clicked div thing
        modal thing here????-->
        </div>
        <div class="test-state" style="width: 275px; border: 1px solid #000; height: 300px; padding: 10px;">
          <h1 class="text-center">Alabama</h1>
          <div class="image-container">
              <img src="images/senators/AK-Daniel-Sullivan.jpg" style="border-radius: 100px; float: left; width: 70px; height: auto"/>
                <div class="right" style="float: right">
                  <b>Name name</b><br>
                  <b>Retiring</b>
                  <br>Party: Democrat
                </div>
          </div>
          <b>Biography</b>: Blah
          <b>Platform Points</b>: Blah
        </div>
        <div class="display" ng-app="ngAnimate">
            <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
            <br/>
            <div>
              Show:
              <div class="check-element animate-show" ng-show="checked">
                <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
              </div>
            </div>
        </div>
        <div class="container">
          <h2>Modal Example</h2>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

        </div>

    </body>
</html>
